/vendor/
/composer.lock
/.phpunit.result.cache
/.phpunit.cache/
/build/
/coverage/
/workbench/storage/
/workbench/bootstrap/cache/
/.env
/.env.*
*.log
*.cache
.DS_Store
Thumbs.db
.idea/
.vscode/
*.swp
*.tmp
